
@bg-color: #0147A7;

* {
  // margin: 0;
  box-sizing: border-box;
  margin: 0;
}

// body {
//   min-height: 100%;
// }
html, .top-container, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -40px;
  background-color: @bg-color;
}

.page-wrap::after {
  content: "";
  display: block;
}
.page-wrap::after, .sticky {
  height: 40px;
}
.sticky {
  background-color: #001f7a;
}


.top-container {
  color: #fff;

}

a {
  color: #03A9F4;
}

.disabled {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

main {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  // margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}



.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  display:block;
  content: '';
  clear:both;
}
